:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --accent: #aa3bff;
 
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
 
  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
/* PAGE */
html,
body {
  width: 100%;
  min-height: 100%;
  background: var(--bg);
}
 
/* WEBSITE CONTAINER */
#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  /* padding: 0 16px; */
}
 
/* HEADINGS */
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}
 
h1 {
  font-size: 42px;
  margin: 24px 0;
}
 
h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
 
/* TEXT */
p {
  margin: 0;
}
 